@model PromotionModel.Output.GetPromotionClient

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section scripts{

    <script src="/js/cart.js"></script>
    <script>
        var cart = new CartController();
        cart.initialize();
    </script>

}

<ul class="breadcrumb">
    <li><a href="/Home/Index">Home</a> <span class="divider">/</span></li>
    <li class="active"> SHOPPING CART</li>
</ul>
<h3>  SHOPPING CART [ <small><span id="lbl_number_items"></span> Item(s) </small>]<a href="/Home/Index" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>
<hr class="soft" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity/Update</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody id="cart_body">
        @*<tr>
                <td> <img width="60" src="themes/images/products/4.jpg" alt="" /></td>
                <td>MASSA AST<br />Color : black, Material : metal</td>
                <td>
                    <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                </td>
                <td>$120.00</td>
                <td>$25.00</td>
                <td>$110.00</td>
            </tr>*@
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="text-align:right">Total Price:	</td>
            <td><span id="lbl_total_product"></span>$</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align:right">Dilivery Price:	</td>
            <td id="diliveryprice" data-dilivery="2">$2</td>
        </tr>
        <tr>
            <td colspan="2">
                <form asp-controller="Cart" asp-action="Index" method="get">
                    <input name="codePromotion" />
                    <button type="submit">Apply</button>
                </form>
                @if (TempData["SuccessMsg"] != null)
                {
                    <span class="alert alert-success">@TempData["SuccessMsg"]</span>
                }
                <div asp-validation-summary="ModelOnly" class="text-error"></div>
            </td>

            <td colspan="3" style="text-align:right">Total Discount:	</td>
            @if (Model != null)
            {
                <td id="discountpercent" data-discount="@Model.DiscountPercent">@Model.DiscountPercent %</td>
            }
            else
            {
                <td id="discountpercent" data-discount="0">%</td>

            }
        </tr>
        <tr>
            <td colspan="5" style="text-align:right"><strong>TOTAL =</strong></td>
            <td class="label label-important" style="display:block"> <strong><span id="lbl_total"></span>$</strong></td>
        </tr>
    </tfoot>
</table>

@if (User.Identity.IsAuthenticated)
{
    if (Model != null)
    {
        <form asp-controller="Cart" asp-action="CheckOut" method="get">
            <input type="hidden" name="IdDisCount" value="@Model.Id" />
            <input type="hidden" name="DiscountPercent" value="@Model.DiscountPercent" />
            <button type="submit" class="btn btn-large pull-right">Next<i class="icon-arrow-right"></i></button>
        </form>
    }
    else
    {

        <a href="/Cart/CheckOut" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
    }

}
else
{
    <a href="/Member/Login" class="btn btn-large pull-right">Login To Continue <i class="icon-arrow-right"></i></a>
}