@model List<UserModel.UserBase>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutBackend.cshtml";

    string gt = "";
    bool tr = (bool)ViewData["Role"];
}

<div class="container-fluid px-4">
    <h1 class="mt-4">List User</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Manage">Home page</a></li>
        <li class="breadcrumb-item active">List User</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Account">Create</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <table class="table" id="">
                <thead>
                    <tr>
                        <th>
                            Series
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Dob
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Identitynum
                        </th>
                        <th>
                            Role
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @if (Model.Count > 0)
                {
                    var stt = 0;

                    <tbody>
                        @foreach (var item in Model)
                        {
                            stt++;
                            <tr>
                                <td data-title="Series"><span>@stt</span></td>
                                <td data-title="Name"><span>@item.Name</span></td>
                                <td data-title="Gender">
                                    @{ if (item.Gender)
                                        {
                                            gt = "Male";
                                        }
                                        else
                                        {
                                            gt = "Female";
                                        }
                                    }
                                    <span>@gt</span>
                                </td>
                                <td data-title="Dob"><span>@item.Dob.ToString("dd/MM/yyyy")</span></td>
                                <td data-title="Address"><span>@item.Address</span></td>
                                <td data-title="Identitynum"><span>@item.Identification</span></td>
                                <td data-title="Role"><span>@item.Role</span></td>
                                <td data-title="">
                                    <span>
                                        <a asp-area="Manage" asp-controller="Account" asp-action="Update" asp-route-id="@item.Id" title="Update user">
                                            <i class="fa fa-bars" aria-hidden="true" style="font-size: 16px; margin-right: 20px"></i>
                                        </a>
                                    </span>
                                    @if (tr)
                                    {
                                        <span>
                                            <a asp-area="Manage" asp-controller="Account" asp-action="Delete" asp-route-id="@item.Id" onclick="return DeleteComfirm(event);" title="Delete user">
                                                <i class="fa fa-trash" aria-hidden="true" style="font-size: 16px;"></i>
                                            </a>
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <div style="font-size: 1em; color: #ff0000;">Have not user!</div>
                }
            </table>
        </div>
    </div>
</div>

<script>

    function DeleteComfirm(event) {
        if (!confirm("Are you delete this user?")) {
            event.preventDefault();
            return false;
        }
    }
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>