@model ProductModel.Output.ProductCategoryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="/js/site.js"></script>
    <script>
        var cart = new SiteController();
        cart.initialize();
    </script>
}

<style>
    /*#oneline {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #twoline {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        #imageParent {
            width: 200px;
            height: 300px;
        }

        .user {
            display: flex;
            align-items: flex-start;
        }

        .user__name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .user__meta {
            min-width: 0;
        }*/
    .thumbnail img {
        object-fit: contain;
        height: 160px;
    }

    .thumbnail .caption h5 {
        height: 40px;
        overflow: hidden;
    }

    .thumbnail .caption .user__name {
        height: 100px;
        overflow: hidden;
    }
</style>

<ul class="breadcrumb">
    <li><a href="/Home/Index">Home</a> <span class="divider">/</span></li>
    <li class="active">Products Name</li>
</ul>
@if (Model.Category != null)
{
    <h3> @Model.Category.Name @*<small class="pull-right"> 40 <localize>available products</localize> </small>*@</h3>
}
<hr class="soft" />
@*<p>
        Mô tả của ứng dụng (hard)
    </p>*@
<hr class="soft" />
@*<form class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label alignL"><localize>Sort By</localize> </label>
            <select>
                <option>Priduct name A - Z</option>
                <option>Priduct name Z - A</option>
                <option>Priduct Stoke</option>
                <option>Price Lowest first</option>
            </select>
        </div>
    </form>*@

<div id="myTab" class="pull-right">
    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr" />
<div class="tab-content">
    <div class="tab-pane" id="listView">
        @for (int i = 0; i < Model.Result.Items.Count; i++)
        {
            var item = Model.Result.Items[i];
            <div class="row">
                <div class="span2">
                    <img href="@("/Product/Detail?productId=" + item.Id)" src="@("https://localhost:5001" + item.ImagePath)" alt="@item.Name" />
                </div>
                <div class="span4">
                    <h3><localize>New | Available</localize></h3>
                    <hr class="soft" />
                    <h5>@item.Name</h5>
                    <p>
                        @item.Description
                    </p>
                    <a class="btn btn-small pull-right" href="@("/Product/Detail?productId=" + item.Id)"><localize>Xem chi tiết</localize></a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3>$ @item.Price.ToString()</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br />

                        <a href="product_details.html" class="btn btn-large btn-primary btn-add-cart" data-id="@item.Id"> <localize>Add to</localize> <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                    </form>
                </div>
            </div>
            <hr class="soft" />}
    </div>

    <div class="tab-pane  active" id="blockView">
        <ul class="thumbnails">
            @for (int i = 0; i < Model.Result.Items.Count; i++)
            {
                var item = Model.Result.Items[i];
                <li class="span3">
                    <div class="thumbnail">
                        <a href="@("/Product/Detail?productId=" + item.Id)"><img src="@("https://localhost:5001" + item.ImagePath)" alt="@item.Name" /></a>
                        <div class="caption">
                            <h5>@item.Name</h5>
                            <p class="user__name">
                                @item.Description
                            </p>
                            <h4 style="text-align:center">
                                <a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
                                <a class="btn btn-add-cart" data-id="@item.Id" href="#"><localize>Add to</localize> <i class="icon-shopping-cart"></i></a>
                                <a class="btn btn-primary" href="#">$ @item.Price.ToString()</a>
                            </h4>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <hr class="soft" />
    </div>
</div>

<div class="control-panel">
    <partial name="_PagingPartialClient" />
</div>
<br class="clr" />