@model ProductModel.Output.CategoryAssign
@{
    ViewData["Title"] = "Category assign";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutBackend.cshtml";
}
@{
    var categoryId = 0;
    if (TempData["CategoryParentId"] != null)
        categoryId = int.Parse(TempData["CategoryParentId"].ToString());
}

<div class="container-fluid">
    <h1 class="mt-4">Category Assign</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Manage">Home page</a></li>
        <li class="breadcrumb-item active">Category assign</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Return</a>
        </div>

        <form class="form-inline navbar-search ms-3 mt-3" asp-controller="Product" asp-action="CategoryAssignRequest" method="get">
            <input type="hidden" name="productId" value="@Model.Id" />
            <select name="categoryId" class="form-control">

                <option value="0">--Default--</option>

                @foreach (var item in Model.ParentCategories)
                {
                    if (categoryId == item.Id)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <button type="submit" id="submitButton" class="btn btn-primary">Search</button>
        </form>

        @if (Model.Categories != null)
        {

            <div class="">

                <form asp-action="CategoryAssign">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    @for (var i = 0; i < Model.Categories.Count; i++)
                    {
                        <div class="form-group">

                            <div class="mt-4 ms-5">
                                <div class="d-flex justify-content-start">
                                    @Model.Categories[i].Name
                                </div>
                                <div class="d-flex justify-content-between">
                                    <input type="checkbox" asp-for="Categories[i].Selected" />
                                    <input type="hidden" asp-for="Categories[i].Id" />
                                    <input type="hidden" asp-for="Categories[i].Name" />
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group mt-3 ms-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>