@model List<ProductImageModel.ProductImageBase>
@{
    ViewData["Title"] = "GetAllImage";
    Layout = "~/Areas/Manage/Views/Shared/_LayoutBackend.cshtml";

    var model = Model.ToList();
    var productId = model[0].ProductId;
}

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<div class="container-fluid px-4">
    <h1 class="mt-4">List Image</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Manage">Home page</a></li>
        <li class="breadcrumb-item active">List Image</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-dark" asp-action="Index" asp-controller="Product" method="GET">Return</a>
                    <a class="btn btn-success" asp-action="AddImage" asp-controller="Product" asp-route-productId="@productId" method="GET">Create</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <table class="table" id="">
                <thead>
                    <tr>
                        <th>
                            Sort order
                        </th>
                        <th>
                            Product name
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Is default
                        </th>
                        <th>
                            Date create
                        </th>
                    </tr>
                </thead>
                @if (Model.Count > 0)
                {

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-title="STT"><span>@item.SortOrder</span></td>
                                <td data-title="STT"><span>@item.ProductName</span></td>
                                <td data-title="Hình">
                                    <span>
                                        <div class="col-sm-7 col-md-9">
                                            <input asp-for="@item.Id" type="hidden" />
                                            <a href="@(Configuration["BaseAddress"] + item.ImagePath)" title="@item.ProductName">
                                                <img src="@(Configuration["BaseAddress"] + item.ImagePath)" id="imgThumbnail" class="img-responsive" style="margin-top: 5px; width: 200px; height: 200px;" />
                                            </a>
                                        </div>
                                    </span>
                                </td>
                                <td data-title="Liên kết"><span>@item.IsDefault</span></td>
                                <td data-title="Kích hoạt"><span>@item.DateCreated</span></td>
                                <td data-title="">
                                    <span>
                                        <a asp-area="Manage" asp-controller="Product" asp-action="UpdateImage" asp-route-imageId="@item.Id" title="Update image">
                                            <i class="fa fa-bars" aria-hidden="true" style="font-size: 16px; margin-right: 20px"></i>
                                        </a>
                                    </span>
                                    <span>
                                        <a asp-area="Manage" asp-controller="Product" asp-action="DeleteImage" asp-route-imageId="@item.Id" onclick="return DeleteComfirm(event);" title="Delete image">
                                            <i class="fa fa-trash" aria-hidden="true" style="font-size: 16px;"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <div style="font-size: 1em; color: #ff0000;">have not image</div>
                }
            </table>
        </div>
    </div>
</div>

<script>

    function DeleteComfirm(event) {
        if (!confirm("Are you delete this image?")) {
            event.preventDefault();
            return false;
        }
    }
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>